h1{
    background-color: rgb(5, 70, 107);
    color: bisque;
    text-align: center;
    padding: 50px;
}
table{
    border: 2px solid;
    border-collapse: collapse;
    
}
th,td{
    border: 2px solid;
    padding: 5 px;
}
#blue{
    color: blue;
}
p{
    text-align: center;
    font-size: larger;
    font-family: Arial;
    border: 2px solid;
}